URxvt.urgentOnBell: True

URxvt.font: xft:monospace:size=14, xft:FontAwesome:size=9, xft:Icons:size:9
URxvt.scrollBar: false

URxvt.depth: 32

! Do not touch background, background is fine like this.
URxvt.background: [90]#070b0e

! Xterm stuff.
XTerm*faceName: DejaVu Sans Mono Book
XTerm*faceSize: 12
XTerm*utf8: 2
XTerm*utf8Title: true

XTerm.VT100.background:        	#2b3772 
XTerm.VT100.color0:             Black
XTerm.VT100.color1:             Red
XTerm.VT100.color2:             Green
XTerm.VT100.color3:             Yellow
XTerm.VT100.color4:             CornflowerBlue
XTerm.VT100.color5:             Magenta
XTerm.VT100.color6:             Cyan
XTerm.VT100.color7:             White
XTerm.VT100.colorBD:            White
XTerm.VT100.colorBDMode:        true
XTerm.VT100.colorUL:            Yellow
XTerm.VT100.colorULMode:        true
XTerm.VT100.cursorColor:        White
XTerm.VT100.foreground:         White
