URxvt.urgentOnBell: True

URxvt.font: xft:monospace:size=14, xft:FontAwesome:size=9, xft:Icons:size:9
URxvt.scrollBar: false

URxvt.depth: 32

! Do not touch background, background is fine like this.
URxvt.background: [90]#070b0e

